@import "~bootstrap/scss/bootstrap";

$theme-colors: (
    "info": tomato,
    "danger": teal
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-red {
  color: #e3515a;
}

.color-green {
  color: #50b973;
}