#cover {
    background: #222 url('https://images.unsplash.com/photo-1593642532871-8b12e02d091c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

#cover::after {
    background-color: rgba(0,0,0,0.6);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

form:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    z-index: -1;
}
